@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(90deg, #FDFCDC, #FED9B7);
}

main {
    background-color: #fff;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #776553a7;
}

h1 {
    color: #F07167;
    text-align: center;
    text-shadow: 1px 1px 2px #602c28d3;
}

h2 {
    color: #0081A7;
}

p {
    text-align: justify;
}